.btn-edit{
    background-color:#6c9fd5;
}

.btn-edit:hover{
    background-color:#5E82BA;
}

.btn-edit:visited{
    background-color:#6c9fd5;
}

#doctors-table{
    
    border-bottom:1px;
    box-shadow:100%;
}