.btn-edit{
    background-color:#6c9fd5;

}

.btn-edit:hover{
    background-color:#5E82BA;
}

.btn-edit:visited{
    background-color:#6c9fd5;
}

#doctors-table{
    height:37em;
		overflow-x: hidden;
}

.center{
	/*padding:1em 1em 0em 1em;
	*/
	padding-top:.8em;
	/*min-width:10em;
	max-width:10em;*/
}

#doctors-table .table-striped > tbody > tr:hover:nth-of-type(odd) {
  background-color: #E6E6E6;
  cursor: pointer;
}

#doctors-table .table-striped > tbody > tr:hover:nth-of-type(even) {
  background-color: #E6E6E6;
  cursor: pointer;
}

.edit-input{
	width:14em;	
}
