.form-fields {
	width: 55%;
	border-right: 2px solid #434343;
	padding-right: 19px;
}

.form-fields-preview {
	padding-left: 19px;
}

input {
	width: 95%;
	height: 35px;
	padding-left: 5px;
}

.require-radio {
	width: 13px;
	height: 13px;
	padding
}

label {
	padding-right: 10px;
}

.panel-body {
	background-color: #e7e7e7;
}

.addField {
	background: #6c9fd5;
	color: white;
}