/* Created by: Mandy , Delia
 * Navigation bar stylesheet
 */

#nav-wrapper{
   margin-left: auto;
   margin-right: auto;
   width: 95%;
}
#navigation{
   background:#434343;
   border-radius:0%;
   border:0px;
   margin-bottom:0;
   height: 65px;
   border-bottom: 5px solid #e99d1a;
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
}

div.topbar-left {
   display:inline-block;
   margin-left: 9px;
}


div.topbar-right {
   float:right;
   display: flex;
   height:65px;
}

.patient-button{
   background-color: #3D8CD5;
   width: 100px;

}

.patient-button:hover {
   background-color: #2975bc;
   cursor: pointer;
}
.nav-button{
   text-align: center;
   align-self: center;
   height: 30px;
   border-radius:2px;
}
.nav-button > a{
   font-size: 14px;
   line-height: 30px;
   color: white;
   text-decoration: none;

}

.logout-button{
   margin-left: 10px;
   width: 60px;
   background-color: #a6a6a6;
}

.logout-button:hover{
   background-color: #8c8c8c;
   cursor: pointer;
}



/*ul.topbar-right li:hover {
  color:#f7f7f7;
  border-bottom: 5px solid #e99d1a;
  height: 50px;
  background-color: rgb(100, 100, 100);
  cursor: pointer;
}*/

.navbar-icon{
   width:56px;
   height:50px;
   background-image: url("../../../../images/logo.png");
   background-size: 100%;
   margin-top:3px;

}



/******************************************
**************** Nav Bar ******************
******************************************/
#nav-top{
   height:150px;
   background:#434343;
   width:100%;
   position:relative;
}

.nav-right{
   float:right;
   width:80%;
   margin-top:30px;
}

.nav-icon{
   float:right;
   display:block;
   margin-right:7%;
   font-size:xx-large;
}

.orange{
   width:100%;
   position:absolute;
   background:#ef8e48;
   padding:15px;
   bottom:0px;
}

#triangle-up {
   width: 0;
   height: 0;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   border-bottom: 30px solid #ef8e48;
   position:absolute;
   left:26%;
   bottom:30px;
}


/******************************************
**************** Nav Bar ******************
******************************************/