.check-in-text {
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 4vh;
    margin: 0px 0px 100px;
    padding: 10px;
    text-align: center;
}

@media(min-width: 1750px) {
    .landing {
        padding: 0 20%;
    }
}

@media(max-width:700px) {
    .check-in-text {
        font-size: 45px;
    }
}

@media(max-width: 900px) {
    .btn-sign-up {
        margin: 50px auto;
        display: block !important;
    }
    .grey-box {
        display: block;
        margin: 0 auto;
        float: none;
    }
}

@media(min-width: 900px) {
    .landing-features {
        display: flex;
        padding: 0 0 0 20% !important;
    }
    .btn-area {
        padding: 55px 25px;
    }
}

@media(min-width: 1000px) {
    .landing-features {
        display: flex;
        padding: 0 20% !important;
    }
}

@media( min-width:1200px ) {
    .landing-features {
        display: flex;
        padding: 0 25% !important;
    }

    .btn-sign-up {
        width: 380px;
    }
}

.landing-features {
    padding: 0 20%;
}

.check-in, .btn-area, .grey-box {
    z-index: 1000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: #080808;
    z-index: 0;
}

.advertise-box {
    z-index: 1000;
}

.sign-up {
    list-style: none;
    color: white;
    margin: 50px 0px;
    font-size: 25px;
    float: right;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    z-index: 1000;
}

.navbar {
    background-color: black;
    background: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
}

.landing {
    background-image: url("../images/office.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.info-title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.info-text {
    font-size: 14px;
    text-align: center;
}

.grey-box {
    background-color: white;
    opacity: .7;
    padding: 15px 20px;
    width: 59vmin;
}

.btn-sign-up {
    background-color: #008CBA;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-sign-in {
    background: rgba(0,0,0,0);
    width: 100px;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid white;
    cursor: hand;
    color: white;
    position: relative;
    z-index: 10;
    float: right;
    margin: 35px 50px;
    height: 30px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}