.modal-info{
    height: 100px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

@media(max-width:770px){
    .modal-info{
        height:125px;
    }
}

.left-modal{
    width: 50%;
    float:left;
}

.right-modal{
    width: 50%;
    float:left;
}

.left-modal span {
    font-weight: normal;
    font-size: 12px;

}

.right-modal span {
    font-weight: normal;
    font-size: 14px;

}