body { 
    background-image: url('../images/pink_trees.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

h1{
	color:white;
}
#icon{
	padding-left: 65px;
}
input{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: block;
	width: 250px;
	height: 40px;
}
.form_container {
	background-color: rgba(9, 41, 14, .8);
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 40px;
	max-width: 600px;
	position: relative;
	top: 175px;
	color: black;
	margin: auto;
}

#settings{
	bottom: 60px;
	margin-left: 5%;
	position: absolute;
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
h1{
	color:white;
	text-align: center;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
input[type=submit] {
	float: center;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3D8CC4), to(#3D8CC4));
	background-image: -moz-linear-gradient(top left 90deg, #3D8CC4 0%, #3D8CC4 100%);
	background-image: linear-gradient(top left 90deg, #3D8CC4 0%, #3D8CC4 100%);
	border-radius: 20px;
	border: 1px solid #3D8CD5;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}