body { 
    background-image: url('../images/pink_trees.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

h1{
	color:white;
}
#icon{
	padding-left: 65px;
}
.form_container {
	background-color: rgba(9, 41, 14, .8);
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	max-width: 600px;
	position: relative;
	top: 175px;
	color: white;
	margin: auto;
}

#settings{
	margin-top: 33%;
	margin-left: 5%;
}