html, body, .ng-scope{
  height:100%;
}

h1{
  color:white;
  text-align: left;
  width: 150%;
}
#toDashboard{
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  margin-left: 50px;
  width: 120px;
  height: 40px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
input{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  width: 250px;
  height: 40px;
  color: black;
}
.checkInDiv {
    padding-top: 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.form_container {
  background-color: rgba(9, 41, 14, .8);
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  max-width: 500px;
  position: relative;
  color: white;
  margin: auto;
  float:center;
  vertical-align: center;
  margin-bottom: 200px;
}

.form-fields-actual {
  padding-left: 195px;
}
#settings{
  max-width: 250px;
  width: 270px;
  height: 120px;
  background-color: rgba(9, 41, 14, .8);
  padding-left: 10px;
  padding-right: 10px;
  bottom: 60px;
  margin-left: 5%;
  position: fixed;
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
input[type=submit] {
  float: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3D8CC4), to(#3D8CC4));
  background-image: -moz-linear-gradient(top left 90deg, #3D8CC4 0%, #3D8CC4 100%);
  background-image: linear-gradient(top left 90deg, #3D8CC4 0%, #3D8CC4 100%);
  border-radius: 20px;
  border: 1px solid #3D8CD5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}