.main {
    background-color: gray;
    border: 2px solid black;
    /*height: 500px;
    width: 700px;*/
    margin: auto;
    position: absolute;
    
}

.options {
    background-color: white;
    border: 2px solid black;
    postion: absolute;
    height: 300px;
    width: 800px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 75px;
    margin-right: 75px;
    display: inline-block;
}

.changePassword {
    background-color: green;
    font-size: 14px;
    position: absolute;
    color: black;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    color: black;
    padding-top: 10px;
    margin-top: 250px;
    margin-left: 500px;
}

.save {
    position: absolute;
    background-color: black;
    color: white;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    margin-left: 650px;
    margin-top: 250px;
    position: absolute;
}

.formfield{
    position: absolute;
    margin-left: 300px;
    margin-top: 150px;
}