
::selection {
    color: #fff;
    text-shadow: none;
    background: #444;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #444;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f2f2f2;
}

#settingsError {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

#error_message{
    color: red;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

#container {
    background-color: #f7f7f7;
    width: 425px;
    height: 425px;
    position: relative;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
    margin-bottom: 10%;
    box-shadow: 0 1px 2px 3px rgba(0, 0, 0, .1);
}

form {
    margin: 0 auto;
    margin-top: 20px;
}

.user {
    font-style: italic;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: right;
    margin-right: 30px;
}

.changepassform  {
    text-align: left;
    font-size: 14px;
    padding-bottom: 30px;
    font-weight: strong;
}

.formfield {
    padding: 10px;
    padding-left: 35px;
}


input[type=password] {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    width: 290px;
    height: 35px;
    border: 1px solid #C7D0D2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190,190,190,0.4), 0 0 0 5px #F5F7F8;
}

input[type=submit] {
    float: center;
    margin-top: 10px;
    margin-left: 220px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3D8CC4), to(#3D8CC4));
    background-image: -moz-linear-gradient(top left 90deg, #3D8CC4 0%, #3D8CC4 100%);
    background-image: linear-gradient(top left 90deg, #3D8CC4 0%, #3D8CC4 100%);
    border-radius: 20px;
    border: 1px solid #3D8CD5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

input[type=submit]:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

input[type=submit]:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3D8CC4), to(#3D8CC4));
    background-image: -moz-linear-gradient(top left 90deg, #3D8CC4 0%, #3D8CC4 100%);
    background-image: linear-gradient(top left 90deg, #3D8CC4 0%, #3D8CC4 100%);
}

.button{
    border-radius: 5px;
    border: 2px solid #6495ed;
    background-color: #5085bb;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 280px;
    text-align: center;
    right: 50px;

}

.button a{
    text-decoration: none;
    color: white;

}

h1{
    text-align: center;
}