# Travis CI Build Script
addons:
 code_climate:
    repo_token: ca1bce783e700880c07c8145d402e8f5cee54c5033f7bf88f51fc3e78e37e35e
notifications:
  slack: kissmyapp:ODLqzPLHklVTMNDvIF9VUSke
language: node_js
node_js:
  - "node"
services:
  - mongodb
script:
  - npm install
after_success:
  - npm install -g codeclimate-test-reporter
  - npm install -g codecov
  - npm run cover
  - codeclimate-test-reporter < coverage/lcov.info
  - codecov
deploy:
  provider: gae
  keyfile: kiss-my-app-29c0b19a8d6d.json
  project: kiss-my-app
  default: true
  skip_cleanup: true
  on: 
    branch: develop
