

  <body ng-app="themes">
    <div class="nav" ng-controller="ThemesController as themesCTRL">
      <div class="container-fluid">
        <div class="row">
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[0]}}" ng-click="selectedImage = 0"></input>
          </div>
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[1]}}" ng-click="selectedImage = 1"></input>
          </div>
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[2]}}" ng-click="selectedImage = 2"></input>
          </div>
        </div>
        <div class="row">
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[3]}}" ng-click="selectedImage = 3"></input>
          </div>
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[4]}}" ng-click="selectedImage = 4"></input>
          </div>
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[5]}}" ng-click="selectedImage = 5"></input>
          </div>
        </div>
        <div class="row">
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[6]}}" ng-click="selectedImage = 6"></input>
          </div>
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[7]}}" ng-click="selectedImage = 7"></input>
          </div>
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[8]}}" ng-click="selectedImage = 8"></input>
          </div>
        </div>
        <div class="row">
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[9]}}" ng-click="selectedImage = 9"></input>
          </div>
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[10]}}" ng-click="selectedImage = 10"></input>
          </div>
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[11]}}" ng-click="selectedImage = 11"></input>
          </div>
        </div>
        <div class="row">
          <div class ="col-md-4">
            <input class="img-responsive" type="image" style="border: 0; background: transparent" src="{{img[12]}}" ng-click="selectedImage = 12"></input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <input ng-click="submitTheme()" type="submit" class="btn btn-block" style='background-color:#6c9fd5;' value="Save"></input>
          </div>
          <div class="col-md-6">
            <input ng-click="cancel()" type="button" class="btn btn-block" style='background-color:#434343;' value="Cancel"></input>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>