<head>
	<link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="css/settings.css"/> 
</head>

<body ng-app="settings">
	<div class="main" ng-controller="SettingsController as regCtrl">
		<div class="options">
			<h1>Change Password</h1>
			<form ng-submit="update()">
				<div class="formfield">
					<b>Password: </b> <input type="password" placeholder="Enter Password" ng-model="user.password"></br>
					<b>New Password: </b> <input type="newPassword" placeholder="Enter new Password" ng-model="user.newPassword">
				</div>
					<p id="error_message">{{ errMessage }} </p>
					<input type="submit" value="Submit"></a>
			</form>
		</div>
	</div>  
</body>
