<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a ng-click="toggleSidebar()">
          Dashboard
          <span class="menu-icon glyphicon glyphicon-transfer"></span>
        </a>
      </li>
      <li class="sidebar-title"><span>NAVIGATION</span></li>
      <li class="sidebar-list">
        <a href="#">Patients <span class="menu-icon fa fa-users"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/tables">Forms <span class="menu-icon fa fa-check-square-o"></span></a>
      </li>
      <li class="sidebar-list"> 
        <a href="#">Employee <span class="menu-icon fa fa-user"></span></a> 
      </li>
      <li class="sidebar-list">
        <a href="#">Settings <span class="menu-icon fa fa-cog"></span></a> 
      </li>
    </ul>
  </div>
</div>

<style>
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator, .sidebar-footer, ul.sidebar .sidebar-list a:hover, ul.sidebar .sidebar-main a {
  background:#355088;
}

#sidebar-wrapper{
  background-color: #3b5998;
}

ul.sidebar li a{
  color:#f7f7f7;
}

ul.sidebar .sidebar-title{
  color:#8b9dc3;
}

ul.sidebar .sidebar-list a{
  color:#f7f7f7;
}

</style>