<div ng-controller="EmployeeController" class="container">
	<button type="button" class="btn btn-block btn-success" ng-click="openModal()">
		<i class="glyphicon glyphicon-plus">
		</i> Add
	</button>
	<br>
	<br>
	<div id="doctors-table">
		<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
			<thead>
				<tr>
					<th colspan="5"><input st-search="" class="form-control" placeholder="Global Search ..." type="text"/></th>
				</tr>
				<tr>
					<th st-sort="Name">Name</th>
					<th>Phone Number</th>
					<th st-sort="Email">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in displayedCollection">
					<p ng-show="checkIfEmptyTable()" class="empty-block">No Employees Fitting Search Criteria Found!</p>
					<td style="padding-left:2em;" data-ng-click="editMode = true; editRowCollection(row)">
						<span data-ng-hide="editMode">{{row.Name}}</span>
						<input name="name" type="text" class="form-control edit-input" data-ng-show="editMode" data-ng-model="row.Name" ng-pattern="/^[^0-9]+$/" data-ng-required required />
						<p ng-show="!row.Name" class="help-block">Name cannot have numbers.</p>
					</td>
					<td data-ng-click="editMode = true; editRowCollection(row)">
						<span data-ng-hide="editMode">{{row.PhoneNumber}}</span>
						<input name="number" type="text" class="form-control edit-input" data-ng-show="editMode" data-ng-model="row.PhoneNumber" ui-mask="{{'(999) 999-9999'}}" data-ng-required required>
						<p ng-show="!row.PhoneNumber" class="help-block">Enter a valid phone number.</p>
					</td>
					<td data-ng-click="editMode = true; editRowCollection(row)">
						<span data-ng-hide="editMode">{{row.Email}}</span>
						<input type="email" name="email" class="form-control edit-input" data-ng-show="editMode" data-ng-model="row.Email" data-ng-required required>
						<p ng-show="!row.Email" class="help-block">Enter a valid email.</p>
					</td>
					<td>
						<button type="submit" popover="Press ctrl+z or command+z to undo changes" popover-trigger="mouseenter" data-ng-show="editMode" data-ng-click="editMode=false; editRowCollection(row)" class="btn col-md-5 btn-primary"  style="margin-right:.5em;" ng-disabled="!row.Name || !row.PhoneNumber || !row.Email">
							<i class="glyphicon glyphicon-ok-circle">
							</i>
						</button>
						<button type="button" ng-click="editMode ? cancel(row) : removeEmployee(row); editMode=false" class="btn col-md-5 btn-danger" >
							<i ng-class="editMode ? 'glyphicon glyphicon-ban-circle':'glyphicon glyphicon-remove'"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>