<div>
	<div class="modal-header">
		<h1 class="modal-title" align="center">Information</h1>
	</div>
	<div class="modal-body">
		<div class="modal-info">
			<div class = "left-modal">
				<h5>Name: <span>Daniel Kong</span></h5>
				<h5>Doctor: <span> Powell</span></h5>
				<h5>Appointment Time: <span>2:15</span></h5>
			</div>

			<div class = "right-modal">
				<h5>Check-In Time: <span>2:13</span></h5>
				<h5>Phone Number: <span>(310)-985-1473</span></h5>
				<h5>Email: <span>dakong94@gmail.com</span></h5>
			</div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-primary" style="background-color:green" ng-click="ok()">Ok</button>
		</div>
	</div>

</div>

