.company-name {
    font-size: 18px;
}

hr{
   border-top: 3px solid #01b2bd
}
.delete-appt{
   margin-left: 15px;
}
.delete-appt:hover{
	color: red;
	cursor:pointer;
}
.appt-container{
	max-width: 980px;
}

.page-title{
   margin: 35px auto;

}

.add-button{
   background-color: #01b2bd;
   border-radius: 2px;
   color: white;
   float: left;
   margin-top: 15px;
   padding: 7px;
}

.add-button:hover{
   background-color: #049099;
   cursor: pointer;
}

tr:nth-last-child(1){
   border-bottom: 1px solid rgb(215,215,215);
}

.table thead th{
    border-bottom: 1px solid rgb(215,215,215);
}

.message-api{
   color: #303641;
   margin-left: 30px;
   margin-top: 30px;
   max-width: 480px;
   width: 60%;
}

.message-api a{
   color: #818da2;
}

.message-api a:hover{
   color: #5b677b;
}