body {
    font-family: "Helvetica Neue";
}

.clock{
    color: #f1f1f1;
    font-size: 1250%;
    margin-top: 0;
    padding-top: 150px;
    text-align: center;
}

.check-in-page{
    /*background-color: #cf4646;*/
    -moz-background-size: cover;
    /*background-color: #1C7F79;*/
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    /*background: url(../../images/backgrounds/1.png) no-repeat center center fixed;*/
}

.tap-to-check{
    background-color:#f1f1f1;
    border-radius: 3px;
    bottom: 15%;
    display: block;
    height: 100px;
    left: 50%;
    margin-left: -137.5px;
    position: absolute;
   /* background-color: #f1f1f1; */
   /* background-color: #0cb4a4;*/
    width: 275px;
    /*background-color: #0abcb3;*/

}

.tap-to-check:hover{
    cursor: pointer;
}

.tap-to-check > p{
    color: #333;
    font-family: "Helvetica Neue";
    font-size: 32px;
    text-align: center;
    /*color: #fff;*/
}
.check-in{

    left: 50%;
    margin-left: -200px;
    opacity: 0;
    position:absolute;
    text-align: center;
    top: 5%;
    width: 400px;


}

.check-in-h1 {
    color: #f1f1f1;
    font-size: 52px;
    margin-bottom: 75px;
}



.check-in > .visitor-fields{
    /*background-color: transparent;*/
    border: none;
    border-bottom: 2px solid #f1f1f1;
    color: #f1f1f1;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
    /*background-color: #303641;*/
    padding-bottom: 5px;
    width: 100%;
}

/*.check-in > input:focus{*/
   /*outline: none;*/
/*}*/

.check-in > input::-webkit-input-placeholder {
    color: #f1f1f1;
}


.submit-check-in{
    background-color: #f1f1f1;
    border: none;
    border-radius: 3px;
    color: #333;
    display: block;
    font-size: 28px;
    height: 50px;
    left: 50%;
    margin-left: -75px;
    margin-top: 25px;
    position: absolute;
    /*background-color: #fff;*/
    width: 150px;
    /*background-color: #0abcb3;*/
}

.hide{
    display: none
}
