#company-name > h1 {
    font-size: 18px;
}
.modal-title{
   font-size: 24px;
   text-align: center;

}

.add-button{
   border-radius: 2px;
   padding: 7px;
   margin-top: 15px;
   float: right;
   background-color: #01b2bd;
   color: white;
}

.add-button:hover{
   background-color: #049099;
   cursor: pointer;
}

.patient-table-header > .form-control{
   width: 150px;
   margin-bottom: 15px;

}

.patient-table-header > h3{
   display: inline-block;
   font-size: 1.8em;
}

.employee-container{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   max-width: 960px;
}


table{
   border-radius: 4px !important;
}

.table th{
   font-size: 1.2em;
}
/*
.table > thead:first-child > tr:first-child > th{
   border-top: 1px solid rgb(215,215,215) !important;
   border-top-width: 1px;
}
*/
.table thead > tr th{

   border-color:rgb(215,215,215) !important;
}
.table tr td{
   border-color:rgb(215,215,215) !important;

}

#visitor-list tr:nth-last-child(1){
   border-bottom: 1px solid rgb(215,215,215) !important;
}

hr{
   border-top: 3px solid #01b2bd !important;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
   width: 100%;

}

.modal-body{
   overflow: hidden;
}

.modal-body .form-horizontal .control-label {
   text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
   margin-left: 15px;
}

.form-control{
   margin-bottom: 4px !important;
   margin-top: 4px !important;
}
.control-label{
   margin-top: 8px !important;
}