.patient-table-header{
  margin-bottom: 25px;
}

.patient-table-header > .form-control{
   width: 150px;
   margin-top: -10px;
   margin-bottom: 5px;
   float:right;

}
.patient-table-header > h3{
   display: inline-block;
   font-size: 1.8em;
}

.patient-check-out > td{
   font-size: 1.2em;
}

.table th{
   font-size: 1.2em;
}

.modal-body{
   font-size: 1em;
   overflow: auto;
   padding: 15px 15px;
}

.modal-title{
   font-size: 1.2em;
}


.modal-body p > span{
   color: black;
   font-weight: bold;
}

.modal-left{
   float:left;
   width: 50%;

}

.modal-right{
   float:left;
   width:50%;

}