<div class="landing">
    <button type="button" class="btn-sign-in" onclick="location.href='./#/signin'">
        Sign in
    </button>
    <div class="advertise-box">
        <div class="col-xs-12 check-in">
            <h1 class="check-in-text col-centered">Check-Ins Made Simple</h1>
        </div>
        <div class="landing-features">
            <div class="grey-box col-sm-12 col-md-6 col-centered">
                <p class="info-title">
                    The new standard for visitor registration
                </p>
                <p class="info-text">
                  Let us welcome you to a world without paper pushing or
                  wasted time; just secure and seamless visitor registration.
                  When you replace your sign-in book with our customizable iPad
                  app, we collect the visitor information, so you can focus on
                  giving the guest a better, more personal experience.
              </p>
            </div>
            <div class="col-sm-12 col-md-6 col-centered btn-area">
                <button type="button" class="btn-sign-up" onclick="location.href='./#/register'">
                Sign up!
            </button>
            </div>
        </div>
    </div>
</div>

<div class ="overlay"> 
</div>
