<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul>
            <li class="active sign-up">Sign in</li>
        </ul>
    </div>
</nav>

<div class ="overlay"> 
</div>
<div class="col-xs-12">
  <h1 class="check-in-text col-centered">Check-Ins Made Simple</h1>
  <div class="grey-box col-sm-12 col-md-6 col-centered">
      <p class="info-title">
          The new standard for visitor registration
      </p>
      <p class="info-text">
          Let Envoy welcome you to a world without paper pushing or
          wasted time; just secure and seamless visitor registration.
          When you replace your sign-in book with our customizable iPad
          app, we collect the visitor information, so you can focus on
          giving the guest a better, more personal experience.
      </p>
  </div>
  <button type="button" class="btn-sign-up col-sm-12 col-md-6 col-centered">
        Sign up!
  </button>
</div>
