<!-- NAVIGATION BAR -->
<nav class="navbar navbar-inverse" role="navigation" id="navigation">
  <div class="navbar-header">
  </div>
  <ul class="nav navbar-nav">
    <li class='col-md-2'>
      <img src="images/profile.png" style="width:90px;height:80px">
      <a ui-sref="patients">BlueJay</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class='col-md-2'>
      <img src="images/profile.png" style="width:90px;height:80px">
      <a ui-sref="patients">Patients</a>
    </li>
    <li class='col-md-2'>
      <img src="images/profile.png" style="width:90px;height:80px">
      <a ui-sref="employees">Employees</a>
    </li>
    <li class='col-md-2'>
      <img src="images/profile.png" style="width:90px;height:80px">
      <a ui-sref="clientForm" style='font-size:.9em;'>Client Form</a>
    </li>
    <li class='col-md-2'>
      <img src="images/profile.png" style="width:90px;height:80px">
      <a ui-sref="Settings">Settings</a>
    </li>
    <li class='col-md-2'>
      <button class='btn btn-lg' id="Modebutton"><a ui-sref="PatientMode">Patient Mode</a></button>
    </li>
    
  </ul>
</nav>
