/* Created by: Mandy , Delia
 * Navigation bar stylesheet
 */
#navigation{
    background:#434343;
    padding-top: 1em;
}

.navbar .nav > li > a {
   color: #FFFFFF; /*Change active text color here*/
}

#Modebutton{
    background:#6c9fd5;
        margin-top:2em;

}
#Modebutton > a{
    color: #FFFFFF;
}
