<!-- NAVIGATION BAR -->
<nav role="navigation" id="navigation">
    <!--Brand-->
    <div id = "nav-wrapper">
        <div class="topbar-left text-center">
          <a class="" href="#/patientQueue">
            <div class="navbar-icon"></div>
          </a>
        </div>
        <!--Nav items-->
        <div class="topbar-right">
          <div class="text-center">
            <a id="topbar-mode-button" ui-sref="PatientMode">
              <span class="vertical-align">
                <a href= "#/checkin" class= "patientbutton">Patient Mode</a>
              </span>
            </a>
          </div>
        </div>
    </div>
</nav>
<side-bar></side-bar>

