<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Check In</title>
    <link rel="stylesheet" href = "css/checkin.css">
</head>
<body id = 'check-in-page'>

<form class = "check-in">
    <h1>Check in</h1>
    <input class = "visitor-fields" id="visitor-first" type = "text" name = "first" placeholder = "First"> <br>
    <input class = "visitor-fields" id="visitor-last" type = "text" name = "last" placeholder = "Last"> <br>
    <input class = "visitor-fields" id="visitor-appointment" type = "text" name = "phoneNumber" placeholder = "Phone Number">
    <br>
    <input class = "submit-check-in" type="submit" value="Submit">
</form>


<div id = "tap-to-check">
    <p>Tap to check in</p>
</div>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/checkin.js"></script>

</body>
</html>
