<h2>Form Preview</h2>
<h3>{{ form.form_name }}</h3>

<div ng-show="!form.submitted">
    <form name="myForm" id="myForm">
        <div ng-repeat="field in form.form_fields">
            <field-directive field="field">

            </field-directive>
        </div>
    </form>


    <div class="form-actions" style="margin-top:10px;">
        <p class="text-center">
            <button class="btn btn-success right" type="button" ng-disabled="myForm.$valid" ng-click="submit()"><i class="icon-edit icon-white"></i> Submit Form</button>
        </p>
    </div>
</div>

<div ng-show="form.submitted">
    <h3>Submitted Data</h3>
    <div ng-repeat="field in form.form_fields">
        Field Title: {{ field.field_title }} <br>
        Field Placeholder: {{ field.field_placeholder }} <br><br>
    </div>
</div>
